html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Default copy-paste CSS in the lines above*/

/* 
  ##Device = PC Desktop / Laptop
  ##Screen = Border width 1700px upwards
*/

@media (min-width: 10px) {

 body {
	background: url(https://i.imgur.com/ej2Seoz.jpg)no-repeat center center fixed;
	background-size: cover;
	overflow: none;
 }
 
 /*Font Referencing*/
 @font-face {
  font-family: "Square 721";
  src: url("fonts/square_721_bt.ttf");
 }

 /*Primary Header*/
  .header_one {
    background-color: rgba(32, 32, 32, 1);
  }

 /*Menu*/
 .menu {
    display: block;
    position: absolute;
 }

 .menu .fa {
    font-size: 36px;
    color: white;
    padding: 33px;
 }

 .menu .fa:hover {
    background: rgba(200, 200, 200, 0.8);
    cursor: pointer;
 }

 /*Logo*/
 .header_one img {
    position: relative;
    cursor: pointer;
    margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 /*Seconday Header*/
 .header_two a {
  	display: block;
  	text-decoration: none;
  	color: unset;
  	padding-top: 10px;
  	margin: 0px;
  	border: 0px;
 }

 .header_two {
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: rgba(211, 211, 211, 0.4);
  	width: 100%;
  	height: 75px;
  	display: block;
    position: fixed;
  	text-decoration: none;
  	float: left;
    box-shadow: 0 1px 7px 1px black;
    z-index: 3;
 }

 /*Navigation Menu*/
 .nav {
    margin-left: 50px;
 }
 
 .nav .active {
	color: #392618;
	font-weight: bold;
	font-size: 30px;
	margin-top: -2px;
 }

 .nav li {
  	display: block;
  	color: #533720;
  	text-align: center;
  	float: left;
  	padding-left: 35px;
  	padding-right: 35px;
    padding-bottom: 13px;
    padding-top: 25px;
  	text-decoration: none;
  	cursor: pointer;
  	font-weight: 600;
  	font-size: 26px;
  	font-family: 'Square 721', sans-serif;
/*    border-style: solid;
    border-width: 1px;
    border-top: 0px;
    border-bottom: 0px;*/
 }

 .nav li:hover {
    background: rgba( 228, 228, 228, 0.6);
  	color: white;
  	text-shadow:
      -1px -1px 0 #a9a9a9,  
      1px -1px 0 #a9a9a9,
      -1px 1px 0 #a9a9a9,
      1px 1px 0 #a9a9a9;
    transition: 600ms ease;
 }

 .wrapper {
  position: absolute;
  top: 15%;
  right: 1%;
  background: rgba(0, 0, 0, 0.2);
  max-width: 250px;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  display: flex;
 }

 /*Search bar input*/
 .wrapper .input {
  width: 85%;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.4);
 }

 /*Search bar magnifying glass button*/
 .searchbtn {
  background: rgba(255, 255, 255, 0.4);
  width: 15%;
  margin-left: 5px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
 }

 .searchbtn:hover {
  background: rgba(255, 255, 255, 0.3);
  transition: 900ms ease;
 }

 .searchbtn .fa {
  position: absolute;
  top: 25%;
  right: 25%;
  color: white;
  opacity: 0.5;
 }

 /*Body Content*/
 .body_content .body_content_one {
  color: white;
  text-shadow: 1px 1px #161616;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  left: 5%;
  top: 60%;
 }

 .body_content_one li {
  margin-top: 7px;
  margin-bottom: 7px;
 }

 /*Body Content heading title*/
 #title {
  font-size: 43px;
  font-weight: 800;
  margin-bottom: 20px;
  color: white;
 }

 #title:hover {
    cursor: pointer;
    color: #d3d3d3;
    transition: 900ms ease;
 }

 /*Read More button*/
 .read_more {
  position: absolute;
  color: white;
  font-style: italic;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  left: 5%;
  top: 78%;
 }

 .read_more :hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;
    text-shadow:
      -1px -1px 0 #a9a9a9,  
      1px -1px 0 #a9a9a9,
      -1px 1px 0 #a9a9a9,
      1px 1px 0 #a9a9a9;
    transition: 800ms ease;
 }
}